
<!-- Start content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6"> 
            <div class="card-box d-flex justify-content-start">
                <div class="d-flex align-items-center flex-column ">
                    <img src="<%= asset_path 'users/avatar-1.jpg' %>" >
                    <button class="form-control btn"> 프로필 수정 </button>
                </div>
                    
                <div class="pl-4 flex-column">
                    <h5 class="mt-0 mb-1">User Name</h5>
                    <p >킹갓제너럴충무공마제스티우주미남</p>
                    
                    <h5 class="mb-1">Email</h5>
                    <p>갓미남@미남.com</p>
                    
                    <h5 class="mb-1">Index</h5>
                    <p>Index</p>
                </div>
            </div>
        </div>
        
        <div class="col-xl-4 col-md-6">
            <div class="card-box taskboard-box">
                <ul class="list-unstyled task-list">
                    <li class="mb-2">
                        <div class="kanban-box">
                            <div class="kanban-detail ml-2 p-1">
                                <a href="#" class="badge badge-light text-primary pull-right">X</a>
                                <h4 class="mb-1">로오오옹ㄹ</h4>
                                <img class="thumb-sm rounded-circle"  src="<%= asset_path 'users/avatar-1.jpg' %>" >
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="kanban-box">
                            <div class="kanban-detail ml-2 p-1">
                                <a href="#" class="badge badge-light text-primary  pull-right">X</a>
                                <h4 class="mb-1">오버워치</h4>
                                <img class="thumb-sm rounded-circle"  src="<%= asset_path 'users/avatar-1.jpg' %>" >
                            </div>
                        </div>
                    </li>
                    <li class="mb-2">
                        <div class="kanban-box">
                            <div class="kanban-detail ml-2 p-1">
                                <a href="#" class="badge badge-light text-primary  pull-right">X</a>
                                <h4 class="mb-1">배애앵그</h4>
                                <img class="thumb-sm rounded-circle"  src="<%= asset_path 'users/avatar-1.jpg' %>" >
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <button href="#custom-modal" class="btn btn-primary form-control"
                        data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" 
                        data-overlaycolor="#36404a">
                            추가
                        </button>
                    </li>
                </ul>
            </div>  
        </div>
        
        

    </div>
  </div> <!-- container -->
</div> <!-- content -->

<%=render 'custombox' %>

<!-- Javascript contents -->
<% content_for 'javascript_content' do %>
<%= javascript_include_tag params[:controller] %>
<script>
$('.popp').popover();
</script>
<% end %>
